<% @address_list.each do |address_list| %>
<li>
  <span class="content"><%= address_list.name %></span>
  <span><%= address_list.address %></span>
  <span><%= address_list.phone %></span>
</li>
<% end %>
