<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%= render "address_form" %>
    </div>
    <div class="span10">
      <div class="column-row">
        <div class="span2"></div>
        <div class="span10">
          <%= render "address_list" %>
        </div>
      </div>
  </div>
</div>
