<% unless check_current_cart_by_current_user.empty? %>
  <div class="row-fluid">
    <div class="span4 offset2">
      <%= link_to "レジに進む", address_order_path(current_user), class: "btn btn-large" %>
    </div>
  </div>
<% else %>
  <h2>商品を追加してください</h2>
<% end %>
